{% extends 'base.html.twig' %}

{% block title %}Liste Clients{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'frontend/tech/layout/_tech_header.html.twig' %}
{% endblock %}



{% block body %}



<h1 class="text-center mt-4 mb-4">Liste de mes clients</h1>

    <div class="container-fluid text-center">

    <div class="d-flex justify-content-around flex-wrap">


  

        <table class="table table-striped  text-center tableau" >
            <thead>
                <tr class="trhead">
                    <th scope="col">Id</th>
                    <th scope="col">Société</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col"class="w-20">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col" class="w-20">Ville</th>
                    <th scope="col" class="w-10">Email</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Actif</th>
                    <th scope="col">Voir</th>
                    
                 
                
                </tr>
            </thead>
            <tbody>
                {% for user in clients %}
                    <tr class="align-middle">
                        <td class="align-middle">{{ user.id }}</td>
                        <td class="align-middle">{{ user.society }}</td>
                        <td class="align-middle">{{ user.firstname }}</td>
                        <td class="align-middle">{{ user.lastname }}</td>
                        <td class="align-middle">{{ user.adress }}</td>
                        <td class="align-middle">{{ user.postalCode }}</td>
                        <td class="align-middle">{{ user.city }}</td>
                        <td class="align-middle"><a href="{{ path('membercontact')}}">{{ user.email }}</a></td>
                        <td class="align-middle">{{ user.phone }}</td>
                        <td class="align-middle">{{ user.enable ? "Oui" : "Non" }}</td>
                        
                        
                        <td class="table__data--view align-middle">
                            <a href="{{ path('tech_client_view', {'id' : user.id}) }}"><i class="fa fa-eye view__icon"></i></a>
                        </td>
                       
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td colspan="8">Aucun résultat !</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(clients) }}
        </div>
    </div>
{% endblock %}