{% extends 'base.html.twig' %}

{% block title %}Supervision Exploitation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'frontend/supervision/layout/_supervision_header.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="text-center">Tableau de Bord - Supervision Exploitation</h1>


    <div class="container d-flex col-12">

        <div class=" justify-content-around text-center col-4">
            <div>
            <a href="{{ path('supervision_adherents_index') }}"><h2>Adhérents</h2></a>
            </div>
            <div>
            <a href="{{ path('supervision_encours_index') }}" class="col-6 btn btn-warning mb-4">Liste des encours adhérents</a>
            </div>
           
        </div>
        <div class="justify-content-around text-center col-4">
            <div>
            <a href="{{ path('supervision_techniciens_index') }}"><h2>Technicien</h2></a>
            </div>
            <div>
            <a href="{{ path('supervision_techniciens_commandes') }}" class="col-6 btn btn-warning mb-4">Statistiques Commandes Techniciens</a>
            <a href="#" class="col-6 btn btn-warning mb-4">Statistiques Visites Techniciens</a>
            <a href="#" class="col-6 btn btn-warning mb-4">Statistiques Encours Techniciens</a>
            </div>
        </div>
        <div class="justify-content-around text-center col-4">
            <div>
            <a href="{{ path('supervision_magasins_index') }}"><h2>Magasin</h2></a>
            </div>
            <div>
            <a href="#" class="col-6 btn btn-warning mb-4">Rapport Magasins</a>
            </div>
           
        </div>
    </div>

{% endblock %}
