{% extends 'base.html.twig' %}

{% block title %}Administration du Site{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'backend/layout/_admin_header.html.twig' %}
{% endblock %}

{% block body %}

<div>
{# Flash Message{#}
    {% for label, messages in app.flashes(['success', 'warning', 'danger', 'info']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} flash text-center mt-5">
            {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<h1 class="text-center mt-4 mb-4">Liste des techniciens</h1>

    <div class="container-fluid text-center">

    <div class="d-flex justify-content-around flex-wrap">


        <button type="button" class="btn btn-warning mb-4" data-toggle="modal" data-target="#AddUniversModal">➕ Ajouter un technicien</button>
    </div>

    <div class="modal fade mx-auto" id="AddUniversModal" tabindex="-1" role="dialog" aria-labelledby="AddUniversModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddUniversModalLabel">Ajouter un technicien</h5>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig'] only %}
                {{ form_start(form) }}
                    <div class="modal-body">
                       
                        {{ form_row(form.society) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.adress) }}
                        {{ form_row(form.postalCode) }}
                        {{ form_row(form.city) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.roles) }}
     
                        <div class="form-group row">
                            <label for="add_shop_enable" class="col-form-label col-sm-2">Activer</label>
                            <div class="col-sm-10" data-children-count="1">
                                {{ form_row(form.enable, {'attr': {'class': 'switch form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

        <table class="table table-striped text-center tableau" >
            <thead>
                <tr class="trhead">
                    <th scope="col">Id</th>
                    <th scope="col">Société</th>
                      <th scope="col">Prenom</th>
                    <th scope="col">Nom</th>
                    <th scope="col"class="w-20">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col" class="w-20">Ville</th>
                    <th scope="col" class="w-10">Email</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Actif</th>
                    <th scope="col">Nbre Clients</th>
                    <th scope="col">Voir/Modifier</th>
                    <th scope="col">Supprimer</th>
                
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="align-middle">
                        <td class="align-middle">{{ user.id }}</td>
                        <td class="align-middle">{{ user.society }}</td>
                        <td class="align-middle">{{ user.firstname }}</td>
                        <td class="align-middle">{{ user.lastname }}</td>
                        <td class="align-middle">{{ user.adress }}</td>
                        <td class="align-middle">{{ user.postalCode }}</td>
                        <td class="align-middle">{{ user.city }}</td>
                        <td class="align-middle">{{ user.email }}</td>
                        <td class="align-middle">{{ user.phone }}</td>
                        
                        <td class="align-middle">{{ user.enable ? "Oui" : "Non" }}</td>
                        <td class="align-middle">{{ ''}}</td>
                        
                        
                        <td class="table__data--edit align-middle">
                            <a href="{{ path('backend_tech_edit', {'id' : user.id}) }}"><i class="fa fa-pencil-square-o edit__icon"></i></a>
                        </td>
                        <td class="table__data--delete align-middle">
                            <form action="{{ path('backend_tech_delete', {'id' : user.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce technicien ?');">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                                <button type="submit" class="btn justify-content-center bg-transparent"><i class="fa fa-trash-o delete__icon"></i></button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td colspan="8">Aucun résultat !</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}