{% extends 'base.html.twig' %}

{% block title %}Admin- Nouveau magasin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'backend/layout/_admin_header.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="text-center">Administration des magasins</h1>
<div class="user-form">

    <h3 class="text-white text-center">Saisissez un magasin</h3>

    {{ form_start(form) }}

        <div class="modal-body">
            {{ form_row(form.name) }}
            {{ form_row(form.adress) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.city) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.fax) }}
            {{ form_row(form.close) }}
            {{ form_row(form.manager) }}

            <div class="form-group row">
                <label for="add_shop_enable" class="col-form-label col-sm-2">Activer</label>
                <div class="col-sm-10 py-2" data-children-count="1">
                    {{ form_row(form.enable, {'attr': {'class': 'switch form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
   <a href="{{ path('backend_shops_list') }}" class="btn btn-secondary">Retour à la liste</a>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </div>

    {{ form_end(form) }}
</div>
{% endblock %}
