{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}



{% block body %}



<h1 class="text-center mt-4 mb-4">Mes dernières commandes</h1>

    <div class="container-fluid text-center">

    <div class="d-flex justify-content-around flex-wrap">


  

        <table class="table table-striped  text-center tableau" >
            <thead>
                <tr class="trhead">
                    <th scope="col">Id</th>
                    <th scope="col">Date de commande</th>
                    <th scope="col">N° de commande</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Voir</th>
                    
                 
                
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="align-middle">
                        <td class="align-middle">{{ order.id }}</td>
                        <td class="align-middle">{{ order.createdAt|date('d-m-Y') }}</td>
                        <td class="align-middle">{{ order.number }}</td>
                        <td class="align-middle">{{ order.amount }}</td>  
                        <td class="table__data--view align-middle">
                            <a href="#"><i class="fa fa-eye view__icon"></i></a>
                        </td>                  
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td colspan="8">Aucun résultat !</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
{% endblock %}